/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height:100%;
}

.announce-header {
    background: #e5e5e5;
}
.announce-details{

}
textarea {
    resize: none;
}

.img-banner{
    height:30vh;
    width:100%;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
/*===============================================================================HEADER===================================================================================*/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
                    }
 #cssmenu:after,#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
                                     }
 #cssmenu #menu-button { display: none;}
 #cssmenu {
    margin-top: -50px;
    background: #333333;
          }
 #cssmenu > ul > li { float: left; }
 #cssmenu.align-center > ul {
        font-size: 0;
        text-align: center;
                             }
 #cssmenu.align-center > ul > li {
            display: inline-block;
            float: none;
                                 }
 #cssmenu.align-center ul ul {text-align: left; }
 #cssmenu.align-right > ul > li { float: right; }
 #cssmenu > ul > li > a {
        padding: 17px;
        font-size: 12px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #dddddd;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 40px;
                        }
 #cssmenu > ul > li:hover > a { color: #00ff00; }
 #cssmenu > ul > li.has-sub > a {padding-right: 30px;}
 #cssmenu ul ul {
        position: absolute;
        left: -9999px;
                }
 #cssmenu.align-right ul ul { text-align: right; }
 #cssmenu ul ul li {
        height: 0;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
                   }
 #cssmenu li:hover > ul {left: auto;}
 #cssmenu.align-right li:hover > ul {
        left: auto;
        right: 0;
    }
 #cssmenu li:hover > ul > li { height: 35px;}
 #cssmenu ul ul ul {
        margin-left: 100%;
        top: 0;
    }
 #cssmenu.align-right ul ul ul {
        margin-left: 0;
        margin-right: 100%;
    }
 #cssmenu ul ul li a {
        border-bottom: 1px solid rgba(150, 150, 150, 0.15);
        padding: 11px 15px;
        width: 170px;
        font-size: 12px;
        text-decoration: none;
        color: #dddddd;
        font-weight: 400;
        background: #333333;
    }
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {border-bottom: 0;}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {color: #00ff00;}
#cssmenu.small-screen {width: 100%;}
#cssmenu.small-screen ul {
            width: 100%;
            display: none;
                         }
#cssmenu.small-screen.align-center > ul {text-align: left;}
#cssmenu.small-screen ul li {
            width: 100%;
            border-top: 1px solid rgba(120, 120, 120, 0.2);
                             }
#cssmenu.small-screen ul ul li, #cssmenu.small-screen li:hover > ul > li { height: auto; }
#cssmenu.small-screen ul li a,#cssmenu.small-screen ul ul li a {
             width: 100%;
             border-bottom: 0;
                                                               }
#cssmenu.small-screen > ul > li { float: none; }
#cssmenu.small-screen ul ul li a { padding-left: 25px;  }
#cssmenu.small-screen ul ul ul li a {padding-left: 35px; }
#cssmenu.small-screen ul ul li a { color: #dddddd; }
#cssmenu.small-screen ul ul li:hover > a, #cssmenu.small-screen ul ul li.active > a {color: #ffffff; }
#cssmenu.small-screen ul ul,
#cssmenu.small-screen ul ul ul,
#cssmenu.small-screen.align-right ul ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left;
                                        }
#cssmenu.small-screen #menu-button {
            display: block;
            padding: 17px;
            color: #dddddd;
            cursor: pointer;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
                                  }
#cssmenu.small-screen #menu-button:after {
             position: absolute;
             top: 22px;
             right: 17px;
             display: block;
             height: 4px;
             width: 20px;
             border-top: 2px solid #dddddd;
             content: '';
                                         }
#cssmenu.small-screen #menu-button:before {
             position: absolute;
             top: 16px;
             right: 17px;
             display: block;
             height: 2px;
             width: 20px;
             background: #dddddd;
             content: '';
                                          }
#cssmenu.small-screen #menu-button.menu-opened:after {
            top: 23px;
            border: 0;
            height: 2px;
            width: 15px;
            background: #ffffff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
                                                    }
#cssmenu.small-screen #menu-button.menu-opened:before {
            top: 23px;
            background: #ffffff;
            width: 15px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
                                                      }
#cssmenu.small-screen .submenu-button {
            position: absolute;
            z-index: 99;
            right: 0;
            top: 0;
            display: block;
            border-left: 1px solid rgba(120, 120, 120, 0.2);
            height: 46px;
            width: 46px;
            cursor: pointer;
                                     }
#cssmenu.small-screen .submenu-button.submenu-opened { background: #262626; }
#cssmenu.small-screen ul ul .submenu-button {
     height: 34px;
     width: 34px;
                                             }
#cssmenu.small-screen .submenu-button:after {
     position: absolute;
     top: 22px;
     right: 19px;
     width: 8px;
     height: 2px;
     display: block;
     background: #dddddd;
     content: '';
                                             }
#cssmenu.small-screen ul ul .submenu-button:after {
     top: 15px;
     right: 13px;
                                                   }
#cssmenu.small-screen .submenu-button.submenu-opened:after {background: #ffffff; }
#cssmenu.small-screen .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
                                             }
#cssmenu.small-screen ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
                                                   }
#cssmenu.small-screen .submenu-button.submenu-opened:before {display: none;}
#cssmenu.small-screen.select-list {padding: 5px;}
.btn {
    margin-top: 45px;
    background: transparent;
    padding: 8px 10px;
    border-color: transparent;
     }
.btn:hover {
    background: transparent;
    border-color: transparent;
    color: #00ff00;
           }
.dropdown-menu {
    background-color: #333;
    border-radius: 0px;
               }
.dropdown-menu a { color: #fff;}
.dropdown-menu > a:hover {
    color: #00ff00;
    text-decoration: none;
    margin-right: 2px;
                         }
.dropdown-menu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #dddddd;
    font-weight: 400;
    background: #333333;
                          }
#ccsmenu .logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
               }
a .logo {
    margin-left: 40px;
    margin-right: 160px;
    height: 14vh;
        }

  /*===============================================================================FOOTER===================================================================================*/

.logofoot {height: 12vh;}
.puuter {
    background-color: #333333;
    padding: 60px 40px;
    color: #DDDDDD;
        }
.puuter .footer-brand, .puuter .footer-nav, .puuter .footer-social, .puuter .footer-ns {padding: 10px 25px;}
.puuter .footer-nav, .puuter .footer-social, .puuter .footer-ns { border-color: transparent;}
.puuter .footer-brand h2 { margin: 0px 0px 10px; }
.puuter .footer-brand p {
        font-size: 12px;
        color: rgba(255,255,255,0.70);
                        }
.puuter .footer-nav ul.pages {
        list-style: none;
        padding: 0px;
                             }
.puuter .footer-nav ul.pages li {
        padding: 5px 0px;
                                }
.puuter .footer-nav ul.pages a {
        color: #DDDDDD;
        font-weight: bold;
        text-transform: uppercase;
                               }
.puuter .footer-nav ul.pages a:hover {
        color: #00ff00;
        text-decoration: none;
                                     }
.puuter .footer-nav h4 {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 10px;
                       }
.puuter .footer-nav ul.list {
        list-style: none;
        padding: 0px;
                            }
.puuter .footer-nav ul.list li {padding: 5px 0px;}
.puuter .footer-nav ul.list a {color: #DDDDDD; }
.puuter .footer-nav ul.list a:hover {
        color: #00ff00;
        text-decoration: none;
                                    }
.puuter .footer-social ul {
        list-style: none;
        padding: 0px;
                          }
.puuter .footer-social h4 {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 3px;
                           }
.puuter .footer-social li {padding: 5px 4px;}
.puuter .footer-ns h4 {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }

.puuter .footer-ns p {
        font-size: 12px;
        color: #DDDDDD;
    }
.fbico, .ytico, .gmailico { height: 4vh; }
@media (min-width: 768px) {
    .puuter.footer-nav, .puuter .footer-social, .puuter .footer-ns { border-left: solid 1px #dcdcdc; }
                          }

/*===============================================================================ERROR-404===================================================================================*/

  #notfound {
     /*position: relative;*/
     height: 100vh;
            }
  #notfound .notfound {
     position: relative;
     left: 50%;
     top: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
                         }
  .notfound {
     max-width: 520px;
     width: 100%;
     text-align: center;
     line-height: 1.4;
          }
  .notfound .notfound-404 {height: 190px; }
  .notfound .notfound-404 h1 {
     font-size: 146px;
     font-weight: 700;
     margin: 0px;
     color: #232323;
                             }
 .notfound .notfound-404 h1 > span {
     display: inline-block;
     width: 120px;
     height: 120px;
     background-image: url('../images/logobrain.svg');
     background-size: cover;
     -webkit-transform: scale(1.4);
     -ms-transform: scale(1.4);
     transform: scale(1.9);
     z-index: -1;
                                   }
 .notfound h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: #232323;
              }
 .notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #787878;
    font-weight: 300;
             }

 .notfound a {
   font-family: 'Montserrat', sans-serif;
   display: inline-block;
   padding: 12px 30px;
   font-weight: 700;
   background-color: #f99827;
   color: #fff;
   border-radius: 40px;
   text-decoration: none;
  -webkit-transition: 0.2s all;
   transition: 0.2s all;
            }
.notfound a:hover { opacity: 0.8;}
.notfound-404 h1 > span {
  width: 86px;
  height: 86px;
            }